# Absolute path is used in order to make VSCode LSP work, nothing more.
CompileFlags:
    Add:
        - "-std=c++23"
        - "-I/home/hekapoo/Documents/probe/LavenderUI/include"
        - "-I/home/hekapoo/Documents/probe/LavenderUI/thirdparty"